$white: #fff;
$blue: #0ff;
$bg-blue: #346197;
$red: #e80000;
$green: #87ed6b; 
$burlywood: #deb887;

@mixin neon($color) {
  color: $white;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px $color,
    0 0 80px $color,
    0 0 90px $color,
    0 0 100px $color,
    0 0 150px $color;
}

html {
  height: 100%;

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font: 14px "Century Gothic", Futura, sans-serif;
    @include neon($blue);
    background: #030617;
    
  
    .bold {
      font-weight: bold;
    }
  }
}

#root {
  width: 800px;
  height: 600px;
  background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
  position: relative;
  border: 5px solid burlywood;
  border-radius: 20px;
}

button {
  border: none;
  background: transparent;
  @include neon($blue);
  cursor: pointer;
}

ol, ul {
  padding-left: 30px;
  list-style-type: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  text-align: center;
  margin-bottom: 10px;
}

.square {
  background-color: transparent;
  border: 1px solid #aaa;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  @include neon($blue);
  transition: background-color 700ms;
  &:not(:disabled):hover {
    background-color: lighten($bg-blue, 10%);
  }
}

.square--green {
  @include neon($green);
}

.square--red {
  @include neon($red);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.game-history--reverse {
  margin-left: 20px;
}

.game-history {
  margin-left: 20px;
}

.grid-container { 
  // Taken from https://codepen.io/JoahG/pen/QJQdJB thx https://github.com/JoahG !
  position: absolute;
  width: 100%; 
  height: 100%;
  overflow: hidden;
}

.grid-container:after { 
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	transform: perspective(200px) rotateX(40deg) scale(2,1) translateZ(0);
  content: ""; display: block; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 100vh;
  padding: 1px; 
  -webkit-background-clip: content-box; 
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  transform-origin: bottom center;
  will-change: transform; 
}

.grid-container:after {
  background-size: 40px 40px;
  background-image: 
  linear-gradient(to right, $blue 2px, transparent 2px), 
  linear-gradient(to bottom, $blue 1px, transparent 2px);
}
